In [1]:
# DATA TYPES IN R

In [2]:
# 1. CHARACTER

In [3]:
X="JUPYTER"
Y="999999"

In [4]:
typeof(X)
typeof(Y)

[1] "character"

[1] "character"

In [5]:
# 2. INTEGER

In [6]:
I = 2L

In [7]:
typeof(I)

[1] "integer"

In [8]:
my_integer= as.integer(2)

In [9]:
is.integer(my_integer)

[1] TRUE

In [10]:
# AS function is used to Force An Object To Belong To A Class

In [11]:
# Is function is used to test Is An Object From A Class?

In [12]:
# 3. COMPLEX

In [13]:
T1 = as.complex(-25+5i)

In [14]:
T2 = 25+5i

In [15]:
typeof(T1)

[1] "complex"

In [16]:
typeof(T2)

[1] "complex"

In [17]:
# 4. LOGICAL

In [18]:
x = 9

In [19]:
y <- x > 5

In [20]:
y

[1] TRUE

In [21]:
z <- x > 55

In [22]:
z

[1] FALSE

In [23]:
# 5. DOUBLE

In [24]:
x = 3.14

In [25]:
typeof(x)

[1] "double"

In [26]:
# VECTOR USING CONCATENATE FUNCTION

In [27]:
v <- c(1,2,3,4,5)

In [28]:
# accessing the first element in v
v[1]
# accessing the second element in v
v[2]

[1] 1

[1] 2

In [29]:
# mathematical operations

In [30]:
m <- c(11,12,13,14,15)

In [31]:
v+m
v-m
v*m
v/m

[1] 12 14 16 18 20

[1] -10 -10 -10 -10 -10

[1] 11 24 39 56 75

[1] 0.09090909 0.16666667 0.23076923 0.28571429 0.33333333

In [32]:
# mathematical operations using the specific elements

In [33]:
v[3] + m[2]
v[3] * m[2]
v[3] - m[2]
v[3] / m[2]

[1] 15

[1] 36

[1] -9

[1] 0.25

In [34]:
# VECTOR FUNCTION

In [35]:
v <- c(1,2,3,4,5)
m <- c("Robert", "Chris", "Nick", "Tom")

In [36]:
#length of FUNCTION

In [37]:
length(v)
length(m)

[1] 5

[1] 4

In [38]:
class(v)
class(m)

[1] "numeric"

[1] "character"

In [39]:
is.character(v) 
is.numeric(v)

[1] FALSE

[1] TRUE

In [40]:
# CONDITIONAL STATEMENT IN R

In [41]:
X=10

In [42]:
# IF CONDITION

In [43]:
if(X>0)
{
    print(X)
}

[1] 10

In [44]:
# IF - ELSE IF - ELSE CONDITION

In [45]:
X=2
if(X>11)
{
    print(X)   
}else if(X>5)
{
    print(X*X)
}else
{
    print(X*X*X)
}

[1] 8

In [46]:
# FOR LOOPS

In [47]:
X=10
for (X in 1:10){
    print(X)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [48]:
# WHILE LOOP

In [49]:
X=10
while (X >= 0){
    print(X)
    X=X-1
}

[1] 10
[1] 9
[1] 8
[1] 7
[1] 6
[1] 5
[1] 4
[1] 3
[1] 2
[1] 1
[1] 0

In [50]:
# Break function

In [51]:
for( i in 1:10){
  if (i!=7){
  print(i)
  }
  else{
    break()
  }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [52]:
# Built-in Function

In [53]:
i=c(1,2,3,4,5,6,7,8,9,9,2,3,5,1,5,3,1)

In [54]:
mean(i)

[1] 4.352941

In [55]:
summary(i)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   2.000   4.000   4.353   6.000   9.000

In [56]:
head(i)

[1] 1 2 3 4 5 6

In [57]:
tail(i)

[1] 3 5 1 5 3 1

In [58]:
max(i)

[1] 9

In [59]:
min(i)

[1] 1

In [60]:
# User Defined Function

In [61]:
Sum_of_num = function(x,y){
    x+y
}

In [62]:
Sum_of_num(8,9)

[1] 17

In [63]:
# sequence of numbers

In [64]:
# method 1

In [65]:
c=1:20
c

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [66]:
# method 2

In [67]:
seq(1,20)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [68]:
seq(20)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [69]:
#even number sequence

In [70]:
seq(0,20,by=2)

 [1]  0  2  4  6  8 10 12 14 16 18 20

In [71]:
# odd number sequence

In [72]:
seq(1,20,by = 2)

 [1]  1  3  5  7  9 11 13 15 17 19

In [73]:
seq(1,10,length.out = 20)

 [1]  1.000000  1.473684  1.947368  2.421053  2.894737  3.368421  3.842105
 [8]  4.315789  4.789474  5.263158  5.736842  6.210526  6.684211  7.157895
[15]  7.631579  8.105263  8.578947  9.052632  9.526316 10.000000