In [1]:
# the PIPE operator

In [2]:
data = read.csv(file.choose(),header = T)

In [3]:
dim(data) #dimensions of the dataset

[1] 846404     13

In [4]:
names(data) # names of the column

 [1] "SYMBOL"      "SERIES"      "OPEN"        "HIGH"        "LOW"
 [6] "CLOSE"       "LAST"        "PREVCLOSE"   "TOTTRDQTY"   "TOTTRDVAL"
[11] "TIMESTAMP"   "TOTALTRADES" "ISIN"

In [5]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [6]:
summarise(data, average = mean(data$OPEN))

  average
1 561.2588

In [7]:
summarise(data, middle_value = median(data$OPEN))

  middle_value
1 139.2

In [8]:
summarise(data, first_val = first(data$OPEN))

  first_val
1 37.8

In [9]:
summarise(data, last_val = last(data$OPEN))

  last_val
1 4.3

In [10]:
summarise(data, variance = var(data$OPEN))

  variance
1 4023076

In [11]:
summarise(data, std_dev = sd(data$OPEN))

  std_dev
1 2005.761

In [12]:
summarise(data, n_distinct = n_distinct(data$OPEN))

  n_distinct
1 58241

In [13]:
summarise(data, nth_value = nth(data$OPEN,5))

  nth_value
1 546.1

In [14]:
# Pipe operator

In [15]:
 data %>% select(OPEN,HIGH, CLOSE)%>% sample_n(5) # using select function

       OPEN   HIGH    CLOSE
608018   28.4   28.75   28.30
670133  438.0  448.40  433.15
409347    3.7    3.70    3.70
750293   10.4   10.40   10.40
366129 1043.2 1046.50 1026.55

In [16]:
data %>% filter(OPEN >50) %>% sample_n(5) # using filter function

       SYMBOL     SERIES OPEN    HIGH    LOW     CLOSE   LAST    PREVCLOSE
239079 LINCPEN    EQ      280.00  284.40  277.40  279.65  278.00  280.50
182269 RAJTV      EQ       61.30   61.50   59.35   60.10   60.20   61.80
426161 IFBAGRO    EQ      375.55  391.00  375.55  383.70  378.25  382.60
456263 SUPREMEINF EQ       89.35   89.35   85.25   87.40   86.70   88.60
104530 HEROMOTOCO EQ     3953.00 4012.50 3953.00 3982.90 3980.00 3950.65
       TOTTRDQTY TOTTRDVAL    TIMESTAMP  TOTALTRADES ISIN
239079   1869        524578.7 2017-07-20    61       INE802B01019
182269  29067       1749865.9 2017-05-23   254       INE952H01027
426161   2285        879492.0 2016-09-12   108       INE076C01018
456263  22108       1939715.6 2016-11-02   445       INE550H01011
104530 256960    1026029688.5 2017-09-07 28512       INE158A01026

In [17]:
data %>% mutate(Final = OPEN + HIGH + LOW + CLOSE) %>% select(Final, everything()) %>% sample_n(5) # using mutate function

       Final  SYMBOL     SERIES OPEN  HIGH  LOW   CLOSE LAST  PREVCLOSE
120890 294.40 KRIDHANINF EQ     73.90 73.95 72.60 73.95 73.95 70.45
512270  57.60 HINDSYNTEX EQ     14.10 14.75 14.00 14.75 14.75 14.45
732798  71.65 NATNLSTEEL BE     18.20 18.20 17.60 17.65 17.65 17.65
46085   54.60 CUBEXTUB   BE     13.65 13.65 13.65 13.65 13.65 13.65
772991  17.90 SUNDARAM   EQ      4.55  4.70  4.30  4.35  4.35  4.50
       TOTTRDQTY TOTTRDVAL  TIMESTAMP  TOTALTRADES ISIN
120890 1015500   74952339.5 2017-07-03 3640        INE524L01026
512270     350       4990.0 2016-06-20    5        INE155B01012
732798    2619      46858.2 2016-12-06   20        INE088B01015
46085       10        136.5 2017-05-15    2        INE144D01012
772991  734029    3295513.1 2016-07-26  448        INE108E01023

In [18]:
data %>% group_by(data$SYMBOL)%>% filter(HIGH>100000 & CLOSE >100000)

   SYMBOL SERIES OPEN   HIGH   LOW    CLOSE  LAST   PREVCLOSE TOTTRDQTY
1  PEL    D1     114000 114000 114000 114000 114000 111500      1
2  PEL    D1     106500 106500 106500 106500 106500 107800      5
3  TCFSL  N6     104999 104999 104999 104999 104999 102000      4
4  PEL    D1     119000 119000 119000 119000 119000 113500     18
5  PEL    D1     109500 110000 106860 109000 109000 106500    120
6  PEL    D1     115500 115650 115500 115650 115650 114000     15
7  PEL    D1     108000 108000 108000 108000 108000 109000      1
8  PEL    D1     111500 111500 111500 111500 111500 108000      5
9  TCFSL  N6     102000 102000 102000 102000 102000 103500      1
10 PEL    D1     114000 114000 114000 114000 114000 115650     36
11 PEL    D1     106150 106150 106150 106150 106150 107600     30
12 TCFSL  N6     104000 104000 104000 104000 104000 104999      1
13 PEL    D1     114000 114000 114000 114000 114000 114000    293
14 PEL    D1     113500 113500 113500 113500 113500 113000     10
15 PEL    D1     119990 119990 119990 119990 119990 112500      1
16 TCFSL  N6     104000 104000 104000 104000 104000 106000      1
17 PEL    D1     107800 107800 107800 107800 107800 106150      1
18 PEL    D1     119500 119500 113000 113000 113000 116700      2
19 TCFSL  N6     106000 106000 106000 106000 106000 106399      1
20 TCFSL  N6     102000 102000 102000 102000 102000 102000      1
21 PEL    D1     112500 112500 112500 112500 112500 114000      9
22 TCFSL  N6     102000 102000 102000 102000 102000 104000      1
23 TCFSL  N6     106399 106399 106399 106399 106399 102000      1
24 PEL    D1     117200 117200 116700 116700 116700 119990    800
25 TCFSL  N6      99001 101000  99001 101000 101000 100000      2
26 TCFSL  N6     105000 105000 105000 105000 105000 101000      1
27 TCFSL  N6      99002 103500  99002 103500 103500 105000      2
   TOTTRDVAL TIMESTAMP  TOTALTRADES ISIN         data$SYMBOL
1    114000  2017-11-28  1          INE140A08SX5 PEL
2    532500  2017-11-20  2          INE140A08SX5 PEL
3    419996  2017-06-27  2          INE306N07BK0 TCFSL
4   2142000  2017-12-22  3          INE140A08SX5 PEL
5  12897260  2017-11-21 10          INE140A08SX5 PEL
6   1733400  2017-11-29  4          INE140A08SX5 PEL
7    108000  2017-11-23  1          INE140A08SX5 PEL
8    557500  2017-11-24  1          INE140A08SX5 PEL
9    102000  2017-05-16  1          INE306N07BK0 TCFSL
10  4104000  2017-11-30  5          INE140A08SX5 PEL
11  3184500  2017-11-16  1          INE140A08SX5 PEL
12   104000  2017-07-31  1          INE306N07BK0 TCFSL
13 33402000  2017-12-01 18          INE140A08SX5 PEL
14  1135000  2017-12-15  2          INE140A08SX5 PEL
15   119990  2017-12-08  1          INE140A08SX5 PEL
16   104000  2017-12-08  1          INE306N07BK0 TCFSL
17   107800  2017-11-17  1          INE140A08SX5 PEL
18   232500  2017-12-12  2          INE140A08SX5 PEL
19   106000  2017-12-07  1          INE306N07BK0 TCFSL
20   102000  2017-05-25  1          INE306N07BK0 TCFSL
21  1012500  2017-12-05  2          INE140A08SX5 PEL
22   102000  2017-10-16  1          INE306N07BK0 TCFSL
23   106399  2017-12-04  1          INE306N07BK0 TCFSL
24 93688000  2017-12-11 20          INE140A08SX5 PEL
25   200001  2016-08-16  2          INE306N07BK0 TCFSL
26   105000  2016-11-17  1          INE306N07BK0 TCFSL
27   202502  2016-12-13  2          INE306N07BK0 TCFSL

In [19]:
# summarise all

In [20]:
data %>% summarise_all(mean, na.rm=TRUE)

Warning message in mean.default(SYMBOL, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message in mean.default(SERIES, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message in mean.default(TIMESTAMP, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message in mean.default(ISIN, na.rm = TRUE):
"argument is not numeric or logical: returning NA"

  SYMBOL SERIES OPEN     HIGH     LOW      CLOSE    LAST     PREVCLOSE
1 NA     NA     561.2588 568.6793 553.8619 560.8152 560.1844 560.2253
  TOTTRDQTY TOTTRDVAL TIMESTAMP TOTALTRADES ISIN
1 698380    133459226 NA        5013.823    NA

In [21]:
data %>% summarise_if(is.numeric, mean, na.rm = T)

  OPEN     HIGH     LOW      CLOSE    LAST     PREVCLOSE TOTTRDQTY TOTTRDVAL
1 561.2588 568.6793 553.8619 560.8152 560.1844 560.2253  698380    133459226
  TOTALTRADES
1 5013.823

In [22]:
data %>% summarise_at(vars(OPEN:TOTTRDVAL), mean ,na.rm = TRUE)

  OPEN     HIGH     LOW      CLOSE    LAST     PREVCLOSE TOTTRDQTY TOTTRDVAL
1 561.2588 568.6793 553.8619 560.8152 560.1844 560.2253  698380    133459226

In [23]:
# JOINS

In [24]:
data_1 = data.frame(ID = c(101, 102, 103, 104, 105),
                 NAME = c('TOM', 'CHRIS', 'WALTER', 'JESSE', 'FREDDY'),
                 WIFE = c('SKYLER', 'MAGGIE', 'JULIE', 'SCOTTIE', 'MEGHAN'),
                 CHILDREN =c(5,2,7,1,3),
                 CAR = c(2,2,1,2,2),
                 RANDOM =rnorm(5))

In [25]:
data_1

  ID  NAME   WIFE    CHILDREN CAR RANDOM
1 101 TOM    SKYLER  5        2    0.2807331
2 102 CHRIS  MAGGIE  2        2    1.4799607
3 103 WALTER JULIE   7        1   -0.2857056
4 104 JESSE  SCOTTIE 1        2   -0.3089356
5 105 FREDDY MEGHAN  3        2   -2.5385769

In [26]:
data_2 = data.frame(ID = c(101,103, 106,107, 108),
                 NAME = c('TOM', 'WALTER','BRYCE', 'HARRY','ROM'),
                 WIFE = c('SKYLER', 'JULIE','RACHAEL','OLIVIA', 'SOPHIA'),
                 CHILDREN =c(5,3,7,5,6),
                 CAR = c(2,1,1,1,1),
                 RANDOM =rnorm(5))

In [27]:
data_2

  ID  NAME   WIFE    CHILDREN CAR RANDOM
1 101 TOM    SKYLER  5        2   -0.7312905
2 103 WALTER JULIE   3        1   -0.2336189
3 106 BRYCE  RACHAEL 7        1   -0.7236884
4 107 HARRY  OLIVIA  5        1   -0.7072741
5 108 ROM    SOPHIA  6        1   -1.7104660

In [28]:
# LEFT JOIN

In [29]:
left_join(data_1, data_2, by = "ID")

  ID  NAME.x WIFE.x  CHILDREN.x CAR.x RANDOM.x   NAME.y WIFE.y CHILDREN.y CAR.y
1 101 TOM    SKYLER  5          2      0.2807331 TOM    SKYLER  5          2
2 102 CHRIS  MAGGIE  2          2      1.4799607 NA     NA     NA         NA
3 103 WALTER JULIE   7          1     -0.2857056 WALTER JULIE   3          1
4 104 JESSE  SCOTTIE 1          2     -0.3089356 NA     NA     NA         NA
5 105 FREDDY MEGHAN  3          2     -2.5385769 NA     NA     NA         NA
  RANDOM.y
1 -0.7312905
2         NA
3 -0.2336189
4         NA
5         NA

In [30]:
# RIGHT JOIN

In [31]:
right_join(data_1, data_2, by = "ID")

  ID  NAME.x WIFE.x CHILDREN.x CAR.x RANDOM.x   NAME.y WIFE.y  CHILDREN.y CAR.y
1 101 TOM    SKYLER  5          2     0.2807331 TOM    SKYLER  5          2
2 103 WALTER JULIE   7          1    -0.2857056 WALTER JULIE   3          1
3 106 NA     NA     NA         NA            NA BRYCE  RACHAEL 7          1
4 107 NA     NA     NA         NA            NA HARRY  OLIVIA  5          1
5 108 NA     NA     NA         NA            NA ROM    SOPHIA  6          1
  RANDOM.y
1 -0.7312905
2 -0.2336189
3 -0.7236884
4 -0.7072741
5 -1.7104660

In [32]:
#INNER JOIN

In [33]:
inner_join(data_1, data_2, by = "ID")

  ID  NAME.x WIFE.x CHILDREN.x CAR.x RANDOM.x   NAME.y WIFE.y CHILDREN.y CAR.y
1 101 TOM    SKYLER 5          2      0.2807331 TOM    SKYLER 5          2
2 103 WALTER JULIE  7          1     -0.2857056 WALTER JULIE  3          1
  RANDOM.y
1 -0.7312905
2 -0.2336189

In [34]:
# FULL JOIN

In [35]:
full_join(data_1, data_2, by = "ID")

  ID  NAME.x WIFE.x  CHILDREN.x CAR.x RANDOM.x   NAME.y WIFE.y  CHILDREN.y
1 101 TOM    SKYLER   5          2     0.2807331 TOM    SKYLER   5
2 102 CHRIS  MAGGIE   2          2     1.4799607 NA     NA      NA
3 103 WALTER JULIE    7          1    -0.2857056 WALTER JULIE    3
4 104 JESSE  SCOTTIE  1          2    -0.3089356 NA     NA      NA
5 105 FREDDY MEGHAN   3          2    -2.5385769 NA     NA      NA
6 106 NA     NA      NA         NA            NA BRYCE  RACHAEL  7
7 107 NA     NA      NA         NA            NA HARRY  OLIVIA   5
8 108 NA     NA      NA         NA            NA ROM    SOPHIA   6
  CAR.y RANDOM.y
1  2    -0.7312905
2 NA            NA
3  1    -0.2336189
4 NA            NA
5 NA            NA
6  1    -0.7236884
7  1    -0.7072741
8  1    -1.7104660

In [36]:
# SEMI JOIN

In [37]:
semi_join(data_1, data_2, by = "ID")

  ID  NAME   WIFE   CHILDREN CAR RANDOM
1 101 TOM    SKYLER 5        2    0.2807331
2 103 WALTER JULIE  7        1   -0.2857056

In [38]:
# ANTI JOIN

In [39]:
anti_join(data_1, data_2, by = "ID")

  ID  NAME   WIFE    CHILDREN CAR RANDOM
1 102 CHRIS  MAGGIE  2        2    1.4799607
2 104 JESSE  SCOTTIE 1        2   -0.3089356
3 105 FREDDY MEGHAN  3        2   -2.5385769

In [40]:
 # union

In [41]:
union(data_1, data_2)

Warning message:
"Column `NAME` joining factors with different levels, coercing to character vector"Warning message:
"Column `WIFE` joining factors with different levels, coercing to character vector"

   ID  NAME   WIFE    CHILDREN CAR RANDOM
1  106 BRYCE  RACHAEL 7        1   -0.7236884
2  108 ROM    SOPHIA  6        1   -1.7104660
3  103 WALTER JULIE   7        1   -0.2857056
4  103 WALTER JULIE   3        1   -0.2336189
5  101 TOM    SKYLER  5        2    0.2807331
6  104 JESSE  SCOTTIE 1        2   -0.3089356
7  105 FREDDY MEGHAN  3        2   -2.5385769
8  101 TOM    SKYLER  5        2   -0.7312905
9  107 HARRY  OLIVIA  5        1   -0.7072741
10 102 CHRIS  MAGGIE  2        2    1.4799607

In [42]:
# UNION ALL FUNCTION

In [43]:
union_all(data_1, data_2)

Warning message in bind_rows_(x, .id):
"Unequal factor levels: coercing to character"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"Unequal factor levels: coercing to character"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"

   ID  NAME   WIFE    CHILDREN CAR RANDOM
1  101 TOM    SKYLER  5        2    0.2807331
2  102 CHRIS  MAGGIE  2        2    1.4799607
3  103 WALTER JULIE   7        1   -0.2857056
4  104 JESSE  SCOTTIE 1        2   -0.3089356
5  105 FREDDY MEGHAN  3        2   -2.5385769
6  101 TOM    SKYLER  5        2   -0.7312905
7  103 WALTER JULIE   3        1   -0.2336189
8  106 BRYCE  RACHAEL 7        1   -0.7236884
9  107 HARRY  OLIVIA  5        1   -0.7072741
10 108 ROM    SOPHIA  6        1   -1.7104660

In [44]:
# intersection

In [45]:
intersect(data_1, data_2)

Warning message:
"Column `NAME` joining factors with different levels, coercing to character vector"Warning message:
"Column `WIFE` joining factors with different levels, coercing to character vector"

     ID NAME WIFE CHILDREN CAR RANDOM