In [1]:
# WELCOME TO R PROGRAMMING

In [2]:
script="HELLO WORLD"

In [3]:
print(script)

[1] "HELLO WORLD"

In [4]:
script<-"hello world"

In [5]:
print(script)

[1] "hello world"

In [6]:
# ARITHMETIC OPERATION IN R

In [7]:
10+10 # ADDITION

[1] 20

In [8]:
10-10 # SUBTRACTION

[1] 0

In [9]:
10/10 # DIVISION

[1] 1

In [10]:
10*10 # MULTIPLICATION

[1] 100

In [11]:
sqrt(100) #SQUARE ROOT

[1] 10

In [12]:
factorial(5) #FACTORIAL

[1] 120

In [13]:
# ARITHMETIC OPERTAION USING OBJECT

In [14]:
X<-5
Y<-10

In [15]:
X+Y

[1] 15

In [16]:
X-Y

[1] -5

In [17]:
X/Y

[1] 0.5

In [18]:
X*Y

[1] 50